.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20% 15% 5% 15%;
  gap: 2rem;

  font-family: "NotoSans";

  background-color: #FFF8F0;
  color: #1E1E24;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;

    .input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      input {
        width: 100%;
        height: 3rem;
        padding: 0.9rem;
        padding-left: 0.7rem;
        border: 1px solid #958c7e;

        color: rgba(82, 74, 62, 0.82);
        font-family: "LucidaGrande";
      }

      .reset-icon {
        position: absolute;
        right: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 30%;
      }
    }

    .button-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 3rem;

      .btn {
        height: 100%;
        width: 40%;
        outline: none;
        border: none;
        border-radius: 0.5rem;

        font-weight: 700;

        background-color: #971b12;
        color: #FFF8F0;

        &.btn-plus {
          background-color: #007B83;
          color: #FFF8F0;
        }

        &.btn-minus {
          background-color: #92140C;
          color: #FFF8F0;
        }

        &.disabled {
          background-color: rgb(105, 105, 105);
          color: rgb(177, 177, 177);
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 105%;
    height: 75%;
    overflow-y: auto;
    scrollbar-gutter: stable;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 2.8rem;
      padding-left: 5%;
      padding-right: 10%;

      border-bottom: 1px solid #1E1E24;

      &:last-child {
        border-bottom: none;
      }

      p {
        &:first-child {
          width: 90%;
        }
        &:last-child {
          width: 10%;
          text-align: center;
        }
      }

      &.active {
         p:last-child{
          background-color: #697565;
          color: #ECDFCC;
        }
      }
    }
  }

  @media screen and (orientation: landscape) {
    padding: 8% 22% 5% 22%;

    .content {
      .row {
        min-height: 2.5rem;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 2% 30% 2% 30%;

    .top {
      .input-wrapper {
        input {
          font-size: 1.1rem;
        }
        .reset-icon {
          width: 2rem;
          height: fit-content;
        }
      }

      .button-section {
        .btn {
          font-size: 1rem;
          padding: 0.5rem 1.5rem;
        }
      }
    }

    .content {
      .row {
        min-height: 3rem;
        font-size: 1.1rem;

        &:hover {
          background-color: #92140C;
          color: #FFF8F0;
          cursor: pointer;
        }
      }
    }
  }
}
